body {
  background-color: #012e40;
}

h1 {
  color: #f2e3d5 !important;
  font-family: "Questrial", sans-serif;
}

#exampleModalLabel {
  color: #012e40 !important;
}

.song-name {
  margin-top: 20px;
  font-weight: 500;
  font-size: 30px;
  color: #f2e3d5;
  font-family: "Questrial", sans-serif;
}

.artist {
  font-weight: 400;
  font-size: 18px;
  color: #f2e3d5;
  font-family: "Questrial", sans-serif;
}

audio::-webkit-media-controls-panel {
  background-color: #3ca6a6;
}

audio::-webkit-media-controls-timeline {
  color: white;
}

#main-container {
  margin-top: 100px;
}

.album-image,
.artist,
audio {
  margin-top: 20px;
}

.album-image,
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-history {
  margin-top: 30px;
  margin-right: 20px;
}

#lyrics-container a,
p {
  text-decoration: none;
  color: #f2e3d5;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  cursor: default;
  font-family: "Questrial", sans-serif;
}

.history-button {
  margin-top: 30px;
}

#search-div,
#search-input {
  margin-top: 10px;
}

#search-button {
  width: 80%;
  border-radius: 20px !important;
  font-weight: bold !important;
  background-color: #012e40 !important;
  border: solid #f2e3d5 3px !important;
}



#formGroupExampleInput {
  border-radius: 20px;
  background-color: #012e40;
  border: solid #f2e3d5 3px;
  width: 60%;
  display: block;
  margin: auto;
}

input {
  color: #f2e3d5 !important;
}

::placeholder {
  color: #f2e3d5 !important;
  opacity: 1 !important;
}

#lyrics-container {
  height: 600px;
  overflow-y: auto !important;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

#lyrics-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
#lyrics-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

footer #footer {
  color: #f2e3d5;
  padding-left: 10px;
}
footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  color: #f2e3d5;
}

.history-button {
  border-radius: 20px !important;
  font-weight: bold !important;
  background-color: #012e40 !important;
  border: solid #f2e3d5 3px !important;
}

.history-button::before,
#search-button::before {
  content: ""!important;
  position: absolute!important;
  background: #3ca6a6!important;
}

.history-button:hover,
#search-button:hover {
  background-color: #3ca6a6!important;
  transition: all ease-in-out 250ms!important;
}