/*body styling*/
body {
  background-color: #012e40;
  max-width: 2000px;
  font-family: "Questrial", sans-serif;
}
/*styles the h1 tags*/
h1 {
  color: #f2e3d5 !important;
  }

#exampleModalLabel {
  color: #012e40 !important;
}
/*styles the song-name*/
.song-name {
  margin-top: 20px;
  font-weight: 500;
  font-size: 30px;
  color: #f2e3d5;
  
}

/*styles the text for song artist*/
.artist {
  font-weight: 400;
  font-size: 18px;
  color: #f2e3d5;
  
}

/*styles the audio player*/
audio::-webkit-media-controls-panel {
  background-color: #3ca6a6;
}

audio::-webkit-media-controls-timeline {
  color: white;
}

/*styles the main container id*/
#main-container {
  margin-top: 100px;
}

.album-image,
.artist,
audio {
  margin-top: 20px;
}

.album-image,
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*styles the lyrcs-container*/
#lyrics-container a,
p {
  text-decoration: none;
  color: #f2e3d5;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  cursor: default;
  
}

#search-div,
#search-input {
  margin-top: 10px;
}


/*styles the form input*/
#formGroupExampleInput {
  border-radius: 10px;
  background-color: #f2e3d5;
  border: solid #3ca6a6 3px;
  width: 60%;
  display: block;
  margin: auto;
  color: #000 !important;
}

::placeholder {
  color: #000 !important;
  opacity: 1 !important;
}

/*create a faded effect at the bottom of the lyrics*/
#lyrics-container {
  height: 600px;
  overflow-y: auto !important;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  margin-top: 20px !important;
}

/*create invisible scrollbar for the container*/
#lyrics-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#lyrics-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

footer #footer {
  color: #f2e3d5;
  padding-left: 10px;
}
footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  color: #f2e3d5;
}

/*styling for all history and search buttons*/
.history-button {
  border-radius: 20px !important;
  font-weight: bold !important;
  background-color: #012e40 !important;
  border: solid #f2e3d5 3px !important;
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 30px!important;
}

.history-button::before,
#search-button::before {
  content: ""!important;
 
  background-image: linear-gradient(90deg, #3ca6a6 , #f2e3d5)!important;
}

.history-button:hover,
#search-button:hover {
  background-image: linear-gradient(90deg,#3ca6a6 , #f2e3d5)!important;
  transition: all ease-in-out 250ms!important;
}

.button-history {
  margin-top: 30px;
  margin-right: 20px;
}

#search-button {
  width: 80%;
  border-radius: 10px !important;
  font-weight: bold !important;
  background-color: #012e40 !important;
  border: solid #f2e3d5 3px !important;
}