body {
  background-color: #012e40;
}

h1 {
  color: #f2e3d5 !important;
  font-family: "Questrial", sans-serif;
}

#exampleModalLabel {
  color: #012e40!important;
}

.song-name,
.artist {
  font-weight: bold;
  font-size: 30px;
  color: #f2e3d5;
}

audio::-webkit-media-controls-panel {
  background-color: #3ca6a6;
}

audio::-webkit-media-controls-timeline {
  color: white;
}

#main-container {
  margin-top: 100px;
}

.album-image,
.artist,
audio {
  margin-top: 20px;
}

.album-image,
audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-history {
  margin-top: 30px;
  margin-right: 20px;
}

a,
p {
  text-decoration: none;
  color: #f2e3d5;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  cursor: default;
  font-family: "Questrial", sans-serif;
}

.history-button {
  margin-top: 30px;
}

#search-div,
#search-input {
  margin-top: 10px;
}

#search-button {
  width: 80%;
}

button {
  border-radius: 20px!important;
  font-weight: bold!important;
  background-color: #012e40!important;
  border: solid #f2e3d5 3px!important;
}

button:hover {
  background-color: #3ca6a6;
  transition: all ease-in-out;
}

#formGroupExampleInput {
  border-radius: 20px;
  background-color: #012e40;
  border: solid #f2e3d5 3px;
}

input {
  color: #f2e3d5!important;
}

::placeholder {
  color: #f2e3d5!important;
  opacity: 1!important;
}

#lyrics-container.scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}